In [12]:
import numpy as np
import pandas as pd

In [13]:
program_dir = "./"
data_dir = program_dir + "Data/"

combined_tract_file = pd.read_csv(data_dir + "combined_tract.csv")
origin_combined_tract_file = combined_tract_file

# Data Cleaning

In [14]:
combined_tract_file

,Id,Id2_x,Geography_x,Estimate; EMPLOYMENT STATUS - Population 16 years and over,Margin of Error; EMPLOYMENT STATUS - Population 16 years and over,Percent; EMPLOYMENT STATUS - Population 16 years and over,Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over,Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force,Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force,...,Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race,Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race,"Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races",Estimate; HISPANIC OR LATINO AND RACE - Total housing units,Margin of Error; HISPANIC OR LATINO AND RACE - Total housing units,Percent; HISPANIC OR LATINO AND RACE - Total housing units,Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total housing units
0,1400000US17031010100,17031010100,"Census Tract 101, Cook County, Illinois",3845,475,3845,(X),2698,406,70.2,...,0.7,0.8,173,114,3.4,2.3,2664,39,(X),(X)
1,1400000US17031010201,17031010201,"Census Tract 102.01, Cook County, Illinois",5605,564,5605,(X),3822,419,68.2,...,0.0,0.4,124,121,1.7,1.7,2984,84,(X),(X)
2,1400000US17031010202,17031010202,"Census Tract 102.02, Cook County, Illinois",2197,330,2197,(X),1368,225,62.3,...,0.4,0.7,83,68,3.2,2.6,1249,34,(X),(X)
3,1400000US17031010300,17031010300,"Census Tract 103, Cook County, Illinois",5190,546,5190,(X),3292,349,63.4,...,0.0,0.5,76,60,1.3,1.0,3278,90,(X),(X)
4,1400000US17031010400,17031010400,"Census Tract 104, Cook County, Illinois",4273,408,4273,(X),2776,314,65.0,...,0.2,0.4,126,82,2.7,1.7,2239,82,(X),(X)
5,1400000US17031010501,17031010501,"Census Tract 105.01, Cook County, Illinois",3456,383,3456,(X),2585,320,74.8,...,0.0,0.8,194,132,5.1,3.3,2580,64,(X),(X)
6,1400000US17031010502,17031010502,"Census Tract 105.02, Cook County, Illinois",3433,514,3433,(X),2277,487,66.3,...,0.6,0.9,62,60,1.6,1.7,1971,71,(X),(X)
7,1400000US17031010503,17031010503,"Census Tract 105.03, Cook County, Illinois",2235,403,2235,(X),1293,261,57.9,...,1.9,3.1,48,48,2.1,2.0,1334,29,(X),(X)
8,1400000US17031010600,17031010600,"Census Tract 106, Cook County, Illinois",5743,508,5743,(X),4187,374,72.9,...,0.0,0.4,252,152,3.6,2.2,3253,80,(X),(X)
9,1400000US17031010701,17031010701,"Census Tract 107.01, Cook County, Illinois",3066,324,3066,(X),2434,275,79.4,...,0.0,0.8,94,66,2.4,1.7,1642,75,(X),(X)
10,1400000US17031010702,17031010702,"Census Tract 107.02, Cook County, Illinois",4154,508,4154,(X),3131,398,75.4,...,0.0,0.5,101,92,1.8,1.7,2264,35,(X),(X)
11,1400000US17031020100,17031020100,"Census Tract 201, Cook County, Illinois",2982,307,2982,(X),1909,303,64.0,...,0.0,0.7,41,56,1.0,1.4,1635,65,(X),(X)
12,1400000US17031020200,17031020200,"Census Tract 202, Cook County, Illinois",5074,761,5074,(X),3176,468,62.6,...,0.0,0.5,109,104,1.7,1.6,2112,51,(X),(X)
13,1400000US17031020301,17031020301,"Census Tract 203.01, Cook County, Illinois",3980,307,3980,(X),1948,248,48.9,...,0.2,0.4,71,77,1.4,1.4,2201,45,(X),(X)
14,1400000US17031020302,17031020302,"Census Tract 203.02, Cook County, Illinois",3749,527,3749,(X),2416,471,64.4,...,0.0,0.7,41,57,0.9,1.3,1804,85,(X),(X)
15,1400000US17031020400,17031020400,"Census Tract 204, Cook County, Illinois",3401,301,3401,(X),2507,288,73.7,...,0.0,0.7,81,85,1.8,2.0,1868,23,(X),(X)
16,1400000US17031020500,17031020500,"Census Tract 205, Cook County, Illinois",4689,574,4689,(X),2632,466,56.1,...,0.5,0.8,385,377,6.4,6.2,2409,64,(X),(X)
17,1400000US17031020601,17031020601,"Census Tract 206.01, Cook County, Illinois",4656,593,4656,(X),2862,383,61.5,...,0.9,1.5,103,119,1.6,1.8,2184,40,(X),(X)
18,1400000US17031020602,17031020602,"Census Tract 206.02, Cook County, Illinois",3056,310,3056,(X),1955,281,64.0,...,0.8,1.3,13,22,0.3,0.6,1503,74,(X),(X)
19,1400000US17031020701,17031020701,"Census Tract 207.01, Cook County, Illinois",1476,209,1476,(X),1012,219,68.6,...,3.5,3.4,0,11,0.0,1.5,716,57,(X),(X)
20,1400000US17031020702,17031020702,"Census Tract 207.02, Cook County, Illinois",5964,570,5964,(X),3659,440,61.4,...,1.0,1.1,191,242,2.4,3.1,2600,40,(X),(X)
21,1400000US17031020801,17031020801,"Census Tract 208.01, Cook County, Illinois",3902,495,3902,(X),2835,363,72.7,...,0.9,1.4,279,268,5.8,5.6,2232,94,(X),(X)
22,1400000US17031020802,17031020802,"Census Tract 208.02, Cook County, Illinois",5561,866,5561,(X),3209,572,57.7,...,0.0,0.4,187,174,2.6,2.5,2403,71,(X),(X)
23,1400000US17031020901,17031020901,"Census Tract 209.01, Cook County, Illinois",4049,535,4049,(X),2863,408,70.7,...,0.0,0.6,145,119,2.7,2.2,2166,65,(X),(X)
24,1400000US17031020902,17031020902,"Census Tract 209.02, Cook County, Illinois",3658,421,3658,(X),2153,291,58.9,...,0.0,0.7,26,28,0.6,0.6,1737,38,(X),(X)
25,1400000US17031030101,17031030101,"Census Tract 301.01, Cook County, Illinois",3556,300,3556,(X),2381,271,67.0,...,0.0,0.8,130,92,3.4,2.4,2513,26,(X),(X)
26,1400000US17031030102,17031030102,"Census Tract 301.02, Cook County, Illinois",2942,328,2942,(X),2144,296,72.9,...,0.0,1.0,115,92,3.7,2.9,2054,88,(X),(X)
27,1400000US17031030103,17031030103,"Census Tract 301.03, Cook County, Illinois",2023,330,2023,(X),1300,250,64.3,...,0.4,0.7,19,17,0.9,0.8,1158,103,(X),(X)
28,1400000US17031030104,17031030104,"Census Tract 301.04, Cook County, Illinois",3420,417,3420,(X),1579,293,46.2,...,1.6,1.8,242,237,6.8,6.4,1317,78,(X),(X)
29,1400000US17031030200,17031030200,"Census Tract 302, Cook County, Illinois",4897,498,4897,(X),3764,399,76.9,...,0.0,0.5,64,71,1.1,1.3,2664,84,(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,1400000US17043846313,17043846313,"Census Tract 8463.13, DuPage County, Illinois",4033,241,4033,(X),3126,233,77.5,...,0.0,0.6,140,100,2.9,2.1,2244,68,(X),(X)
1506,1400000US17043846314,17043846314,"Census Tract 8463.14, DuPage County, Illinois",2897,188,2897,(X),2224,190,76.8,...,0.0,0.9,187,194,5.4,5.5,1341,62,(X),(X)
1507,1400000US17043846315,17043846315,"Census Tract 8463.15, DuPage County, Illinois",3644,224,3644,(X),2820,251,77.4,...,0.0,0.7,91,67,2.1,1.5,1608,53,(X),(X)
1508,1400000US17043846404,17043846404,"Census Tract 8464.04, DuPage County, Illinois",5023,423,5023,(X),3559,367,70.9,...,0.4,0.7,244,226,4.1,3.7,2899,80,(X),(X)
1509,1400000US17043846405,17043846405,"Census Tract 8464.05, DuPage County, Illinois",2823,200,2823,(X),1658,163,58.7,...,0.0,0.8,45,37,1.2,1.0,1581,44,(X),(X)
1510,1400000US17043846408,17043846408,"Census Tract 8464.08, DuPage County, Illinois",2873,174,2873,(X),2189,224,76.2,...,0.0,0.7,130,123,3.2,3.0,1300,46,(X),(X)
1511,1400000US17043846409,17043846409,"Census Tract 8464.09, DuPage County, Illinois",3235,220,3235,(X),2506,247,77.5,...,0.5,0.8,23,25,0.5,0.6,1623,57,(X),(X)
1512,1400000US17043846410,17043846410,"Census Tract 8464.10, DuPage County, Illinois",4001,384,4001,(X),3364,395,84.1,...,1.2,1.9,101,72,1.9,1.4,2139,152,(X),(X)
1513,1400000US17043846411,17043846411,"Census Tract 8464.11, DuPage County, Illinois",2964,254,2964,(X),2365,233,79.8,...,0.0,0.8,91,74,2.4,2.0,1918,67,(X),(X)
1514,1400000US17043846412,17043846412,"Census Tract 8464.12, DuPage County, Illinois",3743,255,3743,(X),2654,252,70.9,...,0.0,0.6,20,25,0.4,0.5,1989,60,(X),(X)
1515,1400000US17043846413,17043846413,"Census Tract 8464.13, DuPage County, Illinois",2955,342,2955,(X),1749,240,59.2,...,0.3,0.4,39,40,1.1,1.2,1769,110,(X),(X)
1516,1400000US17043846504,17043846504,"Census Tract 8465.04, DuPage County, Illinois",4717,401,4717,(X),3391,425,71.9,...,0.0,0.5,203,133,3.4,2.2,2603,88,(X),(X)
1517,1400000US17043846507,17043846507,"Census Tract 8465.07, DuPage County, Illinois",2256,208,2256,(X),1940,202,86.0,...,0.5,0.8,327,283,11.2,9.3,1325,45,(X),(X)
1518,1400000US17043846509,17043846509,"Census Tract 8465.09, DuPage County, Illinois",3287,287,3287,(X),2660,296,80.9,...,0.0,0.7,136,209,3.1,4.7,1959,97,(X),(X)
1519,1400000US17043846510,17043846510,"Census Tract 8465.10, DuPage County, Illinois",2391,241,2391,(X),1884,223,78.8,...,0.0,1.0,54,47,1.9,1.6,1279,52,(X),(X)
1520,1400000US17043846511,17043846511,"Census Tract 8465.11, DuPage County, Illinois",4867,482,4867,(X),4110,435,84.4,...,0.0,0.4,88,90,1.3,1.3,2067,58,(X),(X)
1521,1400000US17043846513,17043846513,"Census Tract 8465.13, DuPage County, Illinois",1977,215,1977,(X),1359,182,68.7,...,0.0,1.0,34,44,1.2,1.6,939,31,(X),(X)
1522,1400000US17043846514,17043846514,"Census Tract 8465.14, DuPage County, Illinois",2918,193,2918,(X),2343,182,80.3,...,2.3,2.6,59,64,1.4,1.5,1218,36,(X),(X)
1523,1400000US17043846515,17043846515,"Census Tract 8465.15, DuPage County, Illinois",3723,271,3723,(X),2951,274,79.3,...,0.0,0.5,122,98,2.2,1.7,1895,60,(X),(X)
1524,1400000US17043846517,17043846517,"Census Tract 8465.17, DuPage County, Illinois",4458,367,4458,(X),3752,331,84.2,...,0.0,0.5,342,229,5.5,3.5,2258,78,(X),(X)
1525,1400000US17043846518,17043846518,"Census Tract 8465.18, DuPage County, Illinois",2740,178,2740,(X),2238,187,81.7,...,0.0,0.8,46,63,1.3,1.8,1222,44,(X),(X)
1526,1400000US17043846519,17043846519,"Census Tract 8465.19, DuPage County, Illinois",2348,178,2348,(X),1648,170,70.2,...,0.0,0.9,300,277,9.3,8.7,1203,44,(X),(X)
1527,1400000US17043846521,17043846521,"Census Tract 8465.21, DuPage County, Illinois",4312,402,4312,(X),2695,278,62.5,...,0.0,0.5,219,159,3.8,2.8,2136,59,(X),(X)
1528,1400000US17043846522,17043846522,"Census Tract 8465.22, DuPage County, Illinois",2240,167,2240,(X),1796,187,80.2,...,0.0,0.9,110,98,3.3,2.9,1296,71,(X),(X)
1529,1400000US17043846523,17043846523,"Census Tract 8465.23, DuPage County, Illinois",2125,230,2125,(X),1554,277,73.1,...,0.0,1.1,1,2,0.0,0.1,957,32,(X),(X)
1530,1400000US17043846524,17043846524,"Census Tract 8465.24, DuPage County, Illinois",3580,221,3580,(X),2489,217,69.5,...,0.0,0.6,187,157,3.9,3.3,1787,52,(X),(X)
1531,1400000US17043846603,17043846603,"Census Tract 8466.03, DuPage County, Illinois",3267,400,3267,(X),2481,352,75.9,...,0.0,0.7,0,11,0.0,0.7,1322,72,(X),(X)
1532,1400000US17043846604,17043846604,"Census Tract 8466.04, DuPage County, Illinois",2731,239,2731,(X),1722,211,63.1,...,0.0,0.9,0,11,0.0,0.9,1377,85,(X),(X)
1533,1400000US17043846701,17043846701,"Census Tract 8467.01, DuPage County, Illinois",3117,300,3117,(X),2327,360,74.7,...,0.0,0.7,0,11,0.0,0.7,1540,77,(X),(X)
1534,1400000US17043846702,17043846702,"Census Tract 8467.02, DuPage County, Illinois",3339,408,3339,(X),2322,274,69.5,...,0.0,0.7,82,102,1.9,2.4,1252,91,(X),(X)

In [15]:
def data_cleaning(dataframe, verbose):
    # Drop NA
    dataframe.dropna(inplace = True)
    
    for col_name in dataframe.columns:
        col = dataframe[col_name]
        # Drop Margin/Id
        if "Margin" in col_name or col_name == "Id" or col_name == "Geography":
            dataframe.drop(col_name,1,inplace = True)
    
        # Drop uncounted data (X)
        elif (col.all() == "(X)") == True:
            if verbose:
                print("col:", col_name)
            dataframe.drop(col_name, 1, inplace = True)
            continue

In [16]:
data_cleaning(combined_tract_file, False)
print(combined_tract_file.columns.size)
print(combined_tract_file.index.size)

398
1535

In [17]:
def features_isDigit(dataframe, verbose, lines_to_print):
    # verbose = 1 : print specific no digit member for every col
    # verbose = 2 && lines_to_print > 0 : print top lines of sorted no-digit dict
    
    col_num = 0
    dict_no_digit_num = dict()
    list_feature_row_char = list()
    sorted_list_no_digit = list()
    sorted_list_num_no_digit = list()
    
    for col_name in dataframe.columns:
        
        # skip Tract names
        if "Geography" in col_name:
            col_num = col_num + 1
            continue
        
        col = dataframe[col_name]
        
        # skip (X)
        if (col.all() == "(X)") == True:
            continue
        
        col = col.astype(str)
        col = col.str.replace(".","")
        col_isDigit = col.str.isdigit()
        no_digit_col = col_isDigit[col_isDigit == False]
        
        # make no digit dict (not contain all digit features)
        if no_digit_col.size > 0 :
            dict_no_digit_num[col_name] = no_digit_col.size
        
        for i in range(no_digit_col.index.size):
            no_digit_row_index = no_digit_col.index[i]
            # make "specific no digit member for every col" list
            temp_tup = (dataframe.columns[col_num], no_digit_row_index, col[no_digit_row_index])
            list_feature_row_char.append(temp_tup)
            if verbose == 1:
                # print specific no digit member for every col
                print(dataframe.columns[col_num], no_digit_row_index, col[no_digit_row_index])
        col_num = col_num + 1
    
    if dict_no_digit_num == {}:
        return list_feature_row_char, [], []
    
    # sort dict by value (no digit number)
    sorted_list_no_digit = sorted(dict_no_digit_num.items(), key = lambda dict_no_digit_num:dict_no_digit_num[1],
                                  reverse=True)
        
    print("maximum no digit member in one column:", max(dict_no_digit_num.values()))
    if verbose == 2 and lines_to_print > 0:
        #print top lines of sorted no-digit dict
        print("sorted no digit member list:")
        for i in range(lines_to_print):
            print(sorted_list_no_digit[i])
    for row in sorted_list_no_digit:
        sorted_list_num_no_digit.append(row[1])
    return list_feature_row_char, sorted_list_no_digit, sorted_list_num_no_digit

In [18]:
def show_specific_rows(list_feature_row_char, feature_list):
    list_specific_rows = []
    list_each_row = []
    
    for feature in feature_list:
        list_each_row = []
        feature_name = feature[0]
        list_each_row.append(feature_name)
        for tup in list_feature_row_char:
            if tup[0] == feature_name:
                list_each_row.append(tup[1])
        print(list_each_row)
        list_specific_rows.append(list_each_row)
    return list_specific_rows

# Feature selection

In [19]:
list_feature_row_char_2013, sorted_list_no_digit_2013, sorted_list_num_no_digit_2013 = features_isDigit(
                                                                         combined_tract_file, 
                                                                         verbose = 2, lines_to_print=10)

maximum no digit member in one column: 579
sorted no digit member list:
('Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Families with female householder, no husband present - With related children under 18 years - With related children under 5 years only', 579)
('Estimate; INCOME AND BENEFITS (IN 2013 INFLATION-ADJUSTED DOLLARS) - With cash public assistance income - Mean cash public assistance income (dollars)', 174)
('Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Married couple families - With related children under 18 years - With related children under 5 years only', 164)
('Estimate; INCOME AND BENEFITS (IN 2013 INFLATION-ADJUSTED DOLLARS) - With Supplemental Security Income - Mean Supplemental Security Income (dollars)', 96)
('Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Families with female householder, no husband present - With related children under 18 years', 52)
('Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All families - With related children under 18 years - With related children under 5 years only', 24)
('Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Married couple families - With related children under 18 years', 15)
('Estimate; INCOME AND BENEFITS (IN 2013 INFLATION-ADJUSTED DOLLARS) - With retirement income - Mean retirement income (dollars)', 12)
('Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Families with female householder, no husband present', 12)
('Estimate; INCOME AND BENEFITS (IN 2013 INFLATION-ADJUSTED DOLLARS) - Median earnings for male full-time, year-round workers (dollars)', 9)

In [20]:
print(sorted_list_num_no_digit_2013)

[579, 174, 164, 96, 52, 24, 15, 12, 12, 9, 8, 8, 8, 7, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [23]:
no_digit_features_list_2013 = sorted_list_no_digit_2013[-20:]
list_specific_rows_2013 = show_specific_rows(list_feature_row_char_2013, no_digit_features_list_2013)

['Percent; RACE - Race alone or in combination with one or more other races - Total population - Black or African American', 409, 1316, 1317, 1318]
['Percent; RACE - Race alone or in combination with one or more other races - Total population - American Indian and Alaska Native', 409, 1316, 1317, 1318]
['Percent; RACE - Race alone or in combination with one or more other races - Total population - Asian', 409, 1316, 1317, 1318]
['Percent; RACE - Race alone or in combination with one or more other races - Total population - Native Hawaiian and Other Pacific Islander', 409, 1316, 1317, 1318]
['Percent; RACE - Race alone or in combination with one or more other races - Total population - Some other race', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race)', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Mexican', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Puerto Rican', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Cuban', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Other Hispanic or Latino', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - White alone', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Black or African American alone', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - American Indian and Alaska Native alone', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Asian alone', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Native Hawaiian and Other Pacific Islander alone', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Some other race alone', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race', 409, 1316, 1317, 1318]
['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races', 409, 1316, 1317, 1318]

In [24]:
list_specific_rows_2013

[['Percent; RACE - Race alone or in combination with one or more other races - Total population - Black or African American',
  409,
  1316,
  1317,
  1318],
 ['Percent; RACE - Race alone or in combination with one or more other races - Total population - American Indian and Alaska Native',
  409,
  1316,
  1317,
  1318],
 ['Percent; RACE - Race alone or in combination with one or more other races - Total population - Asian',
  409,
  1316,
  1317,
  1318],
 ['Percent; RACE - Race alone or in combination with one or more other races - Total population - Native Hawaiian and Other Pacific Islander',
  409,
  1316,
  1317,
  1318],
 ['Percent; RACE - Race alone or in combination with one or more other races - Total population - Some other race',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race)',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Mexican',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Puerto Rican',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Cuban',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Other Hispanic or Latino',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - White alone',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Black or African American alone',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - American Indian and Alaska Native alone',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Asian alone',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Native Hawaiian and Other Pacific Islander alone',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Some other race alone',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race',
  409,
  1316,
  1317,
  1318],
 ['Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races',
  409,
  1316,
  1317,
  1318]]

In [25]:
print(len(sorted_list_no_digit_2013))
print(len(combined_tract_file.columns))
print(len(combined_tract_file.index))

192
398
1535

In [26]:
useless_rows_2013 = [409, 1316, 1317, 1318]

In [27]:
useless_rows_2013_2 = [409, 1247, 1316, 1317, 1318]

In [28]:
combined_tract_file.iloc[useless_rows_2013_2]

,Id2_x,Geography_x,Estimate; EMPLOYMENT STATUS - Population 16 years and over,Percent; EMPLOYMENT STATUS - Population 16 years and over,Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force,Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force,Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Employed,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Employed,...,Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Native Hawaiian and Other Pacific Islander alone,Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Some other race alone,Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Some other race alone,Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races,Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races,Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race,Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race,"Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races",Estimate; HISPANIC OR LATINO AND RACE - Total housing units
409,17031381700,"Census Tract 3817, Cook County, Illinois",0,0,0,-,0,-,0,-,...,-,0,-,0,-,0,-,0,-,0
1247,17031835700,"Census Tract 8357, Cook County, Illinois",161,161,125,77.6,125,77.6,0,0.0,...,0.0,0,0.0,20,8.7,0,0.0,20,8.7,71
1316,17031980000,"Census Tract 9800, Cook County, Illinois",0,0,0,-,0,-,0,-,...,-,0,-,0,-,0,-,0,-,0
1317,17031980100,"Census Tract 9801, Cook County, Illinois",0,0,0,-,0,-,0,-,...,-,0,-,0,-,0,-,0,-,0
1318,17031990000,"Census Tract 9900, Cook County, Illinois",0,0,0,-,0,-,0,-,...,-,0,-,0,-,0,-,0,-,0

In [29]:
def data_selection(dataframe, feature_list = [], row_list = []):
    # remove coloums
    if len(feature_list) > 0 and len(row_list) < 1:
        for feature in feature_list:
            dataframe.drop(feature[0], 1, inplace = True)
    else:
    # remobe rows
        dataframe.drop(dataframe.index[row_list], inplace = True)

In [30]:
data_selection(combined_tract_file, row_list=useless_rows_2013)

In [31]:
list_feature_row_char_2013, sorted_list_no_digit_2013, sorted_list_num_no_digit_2013 = features_isDigit(
                                                                         combined_tract_file, 
                                                                         verbose = 0, lines_to_print=10)
len(sorted_list_no_digit_2013)

maximum no digit member in one column: 575

61

In [32]:
print(len(sorted_list_no_digit_2013))
print(len(combined_tract_file.columns))
print(len(combined_tract_file.index))

61
398
1531

In [33]:
data_selection(combined_tract_file, feature_list=sorted_list_no_digit_2013)

In [34]:
print(len(sorted_list_no_digit_2013))
print(len(combined_tract_file.columns))
print(len(combined_tract_file.index))

61
337
1531

In [35]:
list_feature_row_char_2013, sorted_list_no_digit_2013, sorted_list_num_no_digit_2013 = features_isDigit(
                                                                         combined_tract_file, 
                                                                         verbose = 0, lines_to_print=10)
len(sorted_list_no_digit_2013)

0

In [36]:
combined_tract_file.to_csv("./Features/features_2013.csv", sep = "\t")

# Run Data Cleaning for all the data (from 2010 to 2017)

In [37]:
program_dir = "./"
data_dir = program_dir + "Data/"
raw_acs_data_dir = data_dir + "combined_raw/"

combined_tract_file_2010 = pd.read_csv(raw_acs_data_dir + "2010 combined.csv", index_col = 0)
combined_tract_file_2011 = pd.read_csv(raw_acs_data_dir + "2011 combined.csv", index_col = 0)
combined_tract_file_2012 = pd.read_csv(raw_acs_data_dir + "2012 combined.csv", index_col = 0)
combined_tract_file_2013 = pd.read_csv(raw_acs_data_dir + "2013 combined.csv", index_col = 0)
combined_tract_file_2014 = pd.read_csv(raw_acs_data_dir + "2014 combined.csv", index_col = 0)
combined_tract_file_2015 = pd.read_csv(raw_acs_data_dir + "2015 combined.csv", index_col = 0)
combined_tract_file_2016 = pd.read_csv(raw_acs_data_dir + "2016 combined.csv", index_col = 0)
combined_tract_file_2017 = pd.read_csv(raw_acs_data_dir + "2017 combined.csv", index_col = 0)

/Users/mingyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,68,69,74,75,78,79,82,83,86,87,94,95,98,99,106,107,110,111,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,238,239,242,243,246,247,250,251,254,255,258,259,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,336,337,340,341,344,345,348,349,352,353,356,357,364,365,372,373,376,377,380,381,388,389,396,397,404,405,408,409,412,413,416,417,420,421,424,425,436,437,440,441,444,445,448,449,452,453,460,461,464,465,468,469,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,504,505,508,509,516,517,520,521,524,525,528,529,536,537,540,541,544,545,548,549,552,553,556,557,560,561,564,565,568,569,572,573,578,579,584,585,586,587,592,593,600,601,608,609,616,617,624,625,632,633,636,637,640,641,644,645,648,649,652,653,656,657,660,661,664,665,668,669,674,675,678,679,804,805,808,809,816,817,828,829,840,841,844,845,848,849,856,857,860,861,864,865,868,869,872,873,876,877,886,887,890,891,894,895,898,899,902,903,906,907,910,911,914,915,918,919,922,923,926,927,930,931,934,935,936,937,940,941,950,951,954,955,958,959,962,963,966,967,970,971,978,979,982,983,986,987,990,991,994,995,1002,1003,1006,1007,1010,1011,1014,1015,1018,1019,1028,1029,1032,1033,1040,1041,1044,1045,1090,1091,1094,1095,1098,1099,1102,1103,1106,1107,1114,1115,1118,1119,1122,1123,1126,1127,1130,1131,1134,1135,1138,1139,1142,1143,1146,1147,1154,1155,1194,1195,1198,1199,1202,1203,1206,1207,1210,1211,1214,1215,1218,1219,1226,1227,1230,1231,1234,1235,1238,1239,1242,1243,1246,1247,1322,1323,1326,1327,1330,1331,1334,1335,1338,1339,1342,1343,1346,1347,1350,1351,1354,1355,1358,1359,1362,1363,1370,1371,1374,1375,1378,1379,1382,1383,1386,1387,1390,1391,1394,1395,1398,1399,1402,1403,1406,1407,1410,1411,1414,1415,1418,1419,1422,1423,1426,1427,1430,1431,1434,1435,1438,1439,1442,1443,1446,1447,1450,1451,1454,1455,1458,1459,1462,1463,1466,1467,1470,1471,1474,1475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mingyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,68,69,74,75,78,79,82,83,86,87,94,95,98,99,106,107,110,111,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,238,239,242,243,246,247,250,251,254,255,258,259,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,336,337,340,341,344,345,348,349,352,353,356,357,364,365,372,373,376,377,380,381,388,389,396,397,404,405,408,409,412,413,416,417,420,421,424,425,436,437,440,441,444,445,448,449,452,453,460,461,464,465,468,469,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,504,505,508,509,516,517,520,521,524,525,528,529,536,537,540,541,544,545,548,549,552,553,556,557,560,561,564,565,568,569,572,573,574,575,578,579,584,585,586,587,592,593,594,595,600,601,608,609,616,617,624,625,632,633,636,637,640,641,644,645,648,649,652,653,656,657,660,661,664,665,668,669,674,675,678,679,690,691,694,695,702,703,804,805,808,809,816,817,828,829,840,841,844,845,848,849,852,853,856,857,860,861,864,865,868,869,872,873,876,877,886,887,890,891,894,895,898,899,902,903,906,907,910,911,914,915,918,919,922,923,926,927,930,931,934,935,936,937,940,941,950,951,954,955,958,959,962,963,966,967,970,971,978,979,982,983,986,987,990,991,994,995,1002,1003,1006,1007,1010,1011,1014,1015,1018,1019,1028,1029,1032,1033,1040,1041,1044,1045,1090,1091,1094,1095,1098,1099,1102,1103,1106,1107,1114,1115,1118,1119,1122,1123,1126,1127,1130,1131,1134,1135,1138,1139,1142,1143,1146,1147,1154,1155,1194,1195,1198,1199,1202,1203,1206,1207,1210,1211,1214,1215,1218,1219,1226,1227,1230,1231,1234,1235,1238,1239,1242,1243,1246,1247,1322,1323,1326,1327,1330,1331,1334,1335,1338,1339,1342,1343,1346,1347,1350,1351,1354,1355,1358,1359,1362,1363,1370,1371,1374,1375,1378,1379,1382,1383,1386,1387,1390,1391,1394,1395,1398,1399,1402,1403,1406,1407,1410,1411,1414,1415,1418,1419,1422,1423,1426,1427,1430,1431,1434,1435,1438,1439,1442,1443,1446,1447,1450,1451,1454,1455,1458,1459,1462,1463,1466,1467,1470,1471,1474,1475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mingyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,68,69,74,75,78,79,82,83,86,87,94,95,98,99,106,107,110,111,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,238,239,242,243,246,247,250,251,254,255,258,259,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,336,337,340,341,344,345,348,349,352,353,356,357,364,365,372,373,376,377,380,381,388,389,396,397,404,405,408,409,412,413,416,417,420,421,424,425,426,427,436,437,440,441,444,445,448,449,452,453,460,461,464,465,468,469,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,504,505,508,509,516,517,520,521,524,525,528,529,536,537,540,541,544,545,548,549,552,553,556,557,560,561,564,565,568,569,572,573,574,575,578,579,584,585,586,587,592,593,594,595,600,601,608,609,616,617,624,625,632,633,636,637,640,641,644,645,648,649,652,653,656,657,660,661,664,665,668,669,674,675,678,679,690,691,694,695,702,703,712,713,716,717,720,721,724,725,732,733,748,749,752,753,756,757,760,761,768,769,772,773,776,777,780,781,788,789,792,793,796,797,800,801,804,805,808,809,816,817,840,841,844,845,848,849,852,853,856,857,860,861,864,865,868,869,872,873,876,877,886,887,890,891,894,895,898,899,902,903,906,907,910,911,914,915,918,919,922,923,926,927,930,931,934,935,936,937,940,941,950,951,954,955,958,959,962,963,966,967,970,971,978,979,982,983,986,987,990,991,994,995,1002,1003,1006,1007,1010,1011,1014,1015,1018,1019,1028,1029,1032,1033,1040,1041,1044,1045,1090,1091,1094,1095,1098,1099,1102,1103,1106,1107,1114,1115,1118,1119,1122,1123,1126,1127,1130,1131,1134,1135,1138,1139,1142,1143,1146,1147,1154,1155,1162,1163,1170,1171,1178,1179,1186,1187,1194,1195,1198,1199,1202,1203,1206,1207,1210,1211,1214,1215,1218,1219,1226,1227,1230,1231,1234,1235,1238,1239,1242,1243,1246,1247,1322,1323,1326,1327,1330,1331,1334,1335,1338,1339,1342,1343,1346,1347,1350,1351,1354,1355,1358,1359,1362,1363,1370,1371,1374,1375,1378,1379,1382,1383,1386,1387,1390,1391,1394,1395,1398,1399,1402,1403,1406,1407,1410,1411,1414,1415,1418,1419,1422,1423,1426,1427,1430,1431,1434,1435,1438,1439,1442,1443,1446,1447,1450,1451,1454,1455,1458,1459,1462,1463,1466,1467,1470,1471,1474,1475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mingyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,68,69,74,75,78,79,82,83,86,87,94,95,98,99,106,107,110,111,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,238,239,242,243,246,247,250,251,254,255,258,259,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,336,337,340,341,344,345,348,349,352,353,356,357,364,365,372,373,376,377,380,381,388,389,396,397,404,405,408,409,412,413,416,417,420,421,424,425,426,427,436,437,440,441,444,445,448,449,452,453,460,461,464,465,468,469,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,504,505,508,509,516,517,520,521,524,525,528,529,536,537,540,541,544,545,548,549,552,553,556,557,560,561,564,565,568,569,572,573,574,575,578,579,584,585,586,587,592,593,594,595,600,601,608,609,616,617,624,625,632,633,636,637,640,641,644,645,648,649,652,653,656,657,660,661,664,665,668,669,674,675,678,679,686,687,690,691,694,695,702,703,712,713,716,717,720,721,724,725,732,733,748,749,752,753,756,757,760,761,768,769,772,773,776,777,780,781,788,789,792,793,796,797,800,801,804,805,808,809,816,817,828,829,840,841,844,845,848,849,852,853,856,857,860,861,864,865,868,869,872,873,876,877,886,887,890,891,894,895,898,899,902,903,906,907,910,911,914,915,918,919,922,923,926,927,930,931,934,935,936,937,940,941,950,951,954,955,958,959,962,963,966,967,970,971,978,979,982,983,986,987,990,991,994,995,1002,1003,1006,1007,1010,1011,1014,1015,1018,1019,1028,1029,1032,1033,1040,1041,1044,1045,1090,1091,1094,1095,1098,1099,1102,1103,1106,1107,1114,1115,1118,1119,1122,1123,1126,1127,1130,1131,1134,1135,1138,1139,1142,1143,1146,1147,1154,1155,1162,1163,1170,1171,1178,1179,1186,1187,1194,1195,1198,1199,1202,1203,1206,1207,1210,1211,1214,1215,1218,1219,1226,1227,1230,1231,1234,1235,1238,1239,1242,1243,1246,1247,1322,1323,1326,1327,1330,1331,1334,1335,1338,1339,1342,1343,1346,1347,1350,1351,1354,1355,1358,1359,1362,1363,1370,1371,1374,1375,1378,1379,1382,1383,1386,1387,1390,1391,1394,1395,1398,1399,1402,1403,1406,1407,1410,1411,1414,1415,1418,1419,1422,1423,1426,1427,1430,1431,1434,1435,1438,1439,1442,1443,1446,1447,1450,1451,1454,1455,1458,1459,1462,1463,1466,1467,1470,1471,1474,1475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

/Users/mingyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,68,69,74,75,78,79,82,83,86,87,94,95,98,99,106,107,110,111,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,238,239,242,243,246,247,250,251,254,255,258,259,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,336,337,340,341,344,345,348,349,352,353,356,357,364,365,372,373,376,377,380,381,388,389,396,397,404,405,408,409,412,413,416,417,420,421,424,425,426,427,436,437,440,441,444,445,448,449,452,453,460,461,464,465,468,469,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,504,505,508,509,516,517,520,521,524,525,528,529,536,537,540,541,544,545,548,549,552,553,556,557,560,561,564,565,568,569,572,573,578,579,584,585,586,587,592,593,594,595,600,601,602,603,608,609,616,617,624,625,632,633,636,637,640,641,644,645,648,649,652,653,656,657,660,661,664,665,668,669,674,675,678,679,686,687,690,691,694,695,702,703,712,713,716,717,720,721,724,725,732,733,748,749,752,753,756,757,760,761,768,769,772,773,776,777,780,781,788,789,792,793,796,797,800,801,804,805,808,809,816,817,840,841,844,845,848,849,852,853,856,857,860,861,864,865,868,869,872,873,876,877,886,887,890,891,894,895,898,899,902,903,906,907,910,911,914,915,918,919,922,923,926,927,930,931,934,935,936,937,940,941,950,951,954,955,958,959,962,963,966,967,970,971,978,979,982,983,986,987,990,991,994,995,1002,1003,1006,1007,1010,1011,1014,1015,1018,1019,1028,1029,1032,1033,1040,1041,1044,1045,1090,1091,1094,1095,1098,1099,1102,1103,1106,1107,1114,1115,1118,1119,1122,1123,1126,1127,1130,1131,1134,1135,1138,1139,1142,1143,1146,1147,1154,1155,1162,1163,1170,1171,1178,1179,1186,1187,1194,1195,1198,1199,1202,1203,1206,1207,1210,1211,1214,1215,1218,1219,1226,1227,1230,1231,1234,1235,1238,1239,1242,1243,1246,1247,1322,1323,1326,1327,1330,1331,1334,1335,1338,1339,1342,1343,1346,1347,1350,1351,1354,1355,1358,1359,1362,1363,1370,1371,1374,1375,1378,1379,1382,1383,1386,1387,1390,1391,1394,1395,1398,1399,1402,1403,1406,1407,1410,1411,1414,1415,1418,1419,1422,1423,1426,1427,1430,1431,1434,1435,1438,1439,1442,1443,1446,1447,1450,1451,1454,1455,1458,1459,1462,1463,1466,1467,1470,1471,1474,1475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mingyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,68,69,74,75,78,79,82,83,86,87,94,95,98,99,106,107,110,111,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,238,239,242,243,246,247,250,251,254,255,258,259,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,334,335,338,339,348,349,352,353,356,357,360,361,364,365,368,369,376,377,384,385,388,389,392,393,400,401,408,409,416,417,420,421,424,425,428,429,432,433,436,437,438,439,448,449,452,453,456,457,460,461,464,465,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,504,505,508,509,512,513,516,517,520,521,528,529,532,533,536,537,540,541,548,549,552,553,556,557,560,561,564,565,568,569,572,573,576,577,580,581,584,585,586,587,590,591,596,597,598,599,604,605,606,607,612,613,620,621,628,629,636,637,644,645,648,649,652,653,656,657,660,661,664,665,668,669,672,673,676,677,680,681,686,687,690,691,702,703,724,725,728,729,732,733,736,737,744,745,760,761,764,765,768,769,772,773,780,781,784,785,788,789,792,793,800,801,804,805,808,809,812,813,816,817,820,821,828,829,852,853,856,857,860,861,864,865,868,869,872,873,876,877,880,881,884,885,888,889,898,899,902,903,906,907,910,911,914,915,918,919,922,923,926,927,930,931,934,935,938,939,942,943,946,947,948,949,952,953,962,963,966,967,970,971,974,975,978,979,982,983,990,991,994,995,998,999,1002,1003,1006,1007,1014,1015,1018,1019,1022,1023,1026,1027,1030,1031,1040,1041,1044,1045,1048,1049,1052,1053,1056,1057,1102,1103,1106,1107,1110,1111,1114,1115,1118,1119,1126,1127,1130,1131,1134,1135,1138,1139,1142,1143,1146,1147,1150,1151,1154,1155,1158,1159,1166,1167,1174,1175,1182,1183,1190,1191,1198,1199,1206,1207,1210,1211,1214,1215,1218,1219,1222,1223,1226,1227,1230,1231,1238,1239,1242,1243,1246,1247,1250,1251,1254,1255,1258,1259,1334,1335,1338,1339,1342,1343,1346,1347,1350,1351,1354,1355,1358,1359,1362,1363,1366,1367,1370,1371,1374,1375,1382,1383,1386,1387,1390,1391,1394,1395,1398,1399,1402,1403,1406,1407,1410,1411,1414,1415,1418,1419,1422,1423,1426,1427,1430,1431,1434,1435,1438,1439,1442,1443,1446,1447,1450,1451,1454,1455,1458,1459,1462,1463,1466,1467,1470,1471,1474,1475,1478,1479,1482,1483,1486,1487) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mingyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,68,69,74,75,78,79,82,83,86,87,94,95,98,99,106,107,110,111,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,238,239,242,243,246,247,250,251,254,255,258,259,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,334,335,338,339,348,349,352,353,356,357,360,361,364,365,368,369,376,377,384,385,388,389,392,393,400,401,408,409,416,417,420,421,424,425,428,429,432,433,436,437,438,439,448,449,452,453,456,457,460,461,464,465,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,504,505,508,509,512,513,516,517,520,521,528,529,532,533,536,537,540,541,548,549,552,553,556,557,560,561,564,565,568,569,572,573,576,577,580,581,584,585,586,587,590,591,596,597,598,599,604,605,606,607,612,613,620,621,628,629,636,637,644,645,648,649,652,653,656,657,660,661,664,665,668,669,672,673,676,677,680,681,686,687,690,691,702,703,706,707,724,725,728,729,732,733,736,737,744,745,760,761,764,765,768,769,772,773,780,781,784,785,788,789,792,793,800,801,804,805,808,809,812,813,816,817,820,821,828,829,852,853,856,857,860,861,864,865,868,869,872,873,876,877,880,881,884,885,888,889,898,899,902,903,906,907,910,911,914,915,918,919,922,923,926,927,930,931,934,935,938,939,942,943,946,947,948,949,952,953,962,963,966,967,970,971,974,975,978,979,982,983,990,991,994,995,998,999,1002,1003,1006,1007,1014,1015,1018,1019,1022,1023,1026,1027,1030,1031,1040,1041,1044,1045,1048,1049,1052,1053,1056,1057,1102,1103,1106,1107,1110,1111,1114,1115,1118,1119,1126,1127,1130,1131,1134,1135,1138,1139,1142,1143,1146,1147,1150,1151,1154,1155,1158,1159,1166,1167,1174,1175,1182,1183,1190,1191,1198,1199,1206,1207,1210,1211,1214,1215,1218,1219,1222,1223,1226,1227,1230,1231,1238,1239,1242,1243,1246,1247,1250,1251,1254,1255,1258,1259,1334,1335,1338,1339,1342,1343,1346,1347,1350,1351,1354,1355,1358,1359,1362,1363,1366,1367,1370,1371,1374,1375,1382,1383,1386,1387,1390,1391,1394,1395,1398,1399,1402,1403,1406,1407,1410,1411,1414,1415,1418,1419,1422,1423,1426,1427,1430,1431,1434,1435,1438,1439,1442,1443,1446,1447,1450,1451,1454,1455,1458,1459,1462,1463,1466,1467,1470,1471,1474,1475,1478,1479,1482,1483,1486,1487) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mingyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,11,14,15,16,17,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,70,71,72,73,78,79,82,83,86,87,90,91,94,95,98,99,106,107,110,111,112,113,122,123,126,127,128,129,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,234,235,238,239,242,243,246,247,250,251,258,259,262,263,266,267,270,271,274,275,278,279,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,326,327,330,331,334,335,338,339,342,343,354,355,358,359,368,369,372,373,376,377,380,381,384,385,388,389,396,397,404,405,408,409,412,413,420,421,428,429,436,437,440,441,444,445,448,449,452,453,456,457,458,459,468,469,472,473,476,477,480,481,484,485,492,493,496,497,500,501,504,505,508,509,512,513,516,517,520,521,524,525,528,529,532,533,536,537,540,541,548,549,552,553,556,557,560,561,568,569,572,573,576,577,580,581,584,585,588,589,592,593,596,597,600,601,604,605,610,611,616,617,618,619,624,625,626,627,632,633,640,641,648,649,656,657,664,665,668,669,672,673,676,677,680,681,684,685,688,689,692,693,696,697,700,701,706,707,710,711,722,723,726,727,744,745,748,749,752,753,756,757,764,765,780,781,784,785,788,789,792,793,820,821,824,825,828,829,832,833,836,837,840,841,848,849,872,873,876,877,880,881,884,885,888,889,892,893,896,897,900,901,904,905,908,909,918,919,922,923,926,927,930,931,934,935,938,939,942,943,946,947,950,951,954,955,958,959,962,963,966,967,968,969,972,973,982,983,986,987,990,991,994,995,998,999,1002,1003,1010,1011,1014,1015,1018,1019,1022,1023,1026,1027,1034,1035,1038,1039,1042,1043,1046,1047,1050,1051,1060,1061,1064,1065,1072,1073,1076,1077,1122,1123,1126,1127,1130,1131,1134,1135,1138,1139,1146,1147,1150,1151,1154,1155,1158,1159,1162,1163,1166,1167,1170,1171,1174,1175,1178,1179,1186,1187,1194,1195,1202,1203,1210,1211,1218,1219,1226,1227,1230,1231,1234,1235,1238,1239,1242,1243,1246,1247,1250,1251,1258,1259,1262,1263,1266,1267,1270,1271,1274,1275,1278,1279,1354,1355,1358,1359,1362,1363,1366,1367,1370,1371,1374,1375,1378,1379,1382,1383,1386,1387,1390,1391,1394,1395,1402,1403,1406,1407,1410,1411,1414,1415,1418,1419,1422,1423,1426,1427,1430,1431,1434,1435,1438,1439,1442,1443,1446,1447,1450,1451,1454,1455,1458,1459,1462,1463,1466,1467,1470,1471,1474,1475,1478,1479,1482,1483,1486,1487,1490,1491,1494,1495,1498,1499,1502,1503,1506,1507,1514,1515,1518,1519) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
list_combined_tract_file = []
list_combined_tract_file.append(combined_tract_file_2010)
list_combined_tract_file.append(combined_tract_file_2011)
list_combined_tract_file.append(combined_tract_file_2012)
list_combined_tract_file.append(combined_tract_file_2013)
list_combined_tract_file.append(combined_tract_file_2014)
list_combined_tract_file.append(combined_tract_file_2015)
list_combined_tract_file.append(combined_tract_file_2016)
list_combined_tract_file.append(combined_tract_file_2017)

In [39]:
# Some stats
for combined_tract_files in list_combined_tract_file:
    print("rows number:",len(combined_tract_files), "columns number:", len(combined_tract_files.columns))

rows number: 1535 columns number: 1475
rows number: 1535 columns number: 1475
rows number: 1535 columns number: 1475
rows number: 1535 columns number: 1487
rows number: 1535 columns number: 1487
rows number: 1535 columns number: 1499
rows number: 1535 columns number: 1499
rows number: 1535 columns number: 1519

In [40]:
# Data Cleaning
for combined_tract_files in list_combined_tract_file:
    data_cleaning(combined_tract_files, False)

In [41]:
# Some stats
for combined_tract_files in list_combined_tract_file:
    print("rows number:",len(combined_tract_files), "columns number:", len(combined_tract_files.columns))

rows number: 1535 columns number: 628
rows number: 1535 columns number: 628
rows number: 1535 columns number: 692
rows number: 1535 columns number: 692
rows number: 1535 columns number: 692
rows number: 1535 columns number: 699
rows number: 1535 columns number: 699
rows number: 1535 columns number: 712

In [42]:
# Data slection
list_feature_row_char_2010, sorted_list_no_digit_2010, sorted_list_num_no_digit_2010 = features_isDigit(
                                                                         combined_tract_file_2010, 
                                                                         verbose = 2, lines_to_print=0)
list_feature_row_char_2011, sorted_list_no_digit_2011, sorted_list_num_no_digit_2011 = features_isDigit(
                                                                         combined_tract_file_2011, 
                                                                         verbose = 2, lines_to_print=0)
list_feature_row_char_2012, sorted_list_no_digit_2012, sorted_list_num_no_digit_2012 = features_isDigit(
                                                                         combined_tract_file_2012, 
                                                                         verbose = 2, lines_to_print=0)
list_feature_row_char_2013, sorted_list_no_digit_2013, sorted_list_num_no_digit_2013 = features_isDigit(
                                                                         combined_tract_file_2013, 
                                                                         verbose = 2, lines_to_print=0)
list_feature_row_char_2014, sorted_list_no_digit_2014, sorted_list_num_no_digit_2014 = features_isDigit(
                                                                         combined_tract_file_2014, 
                                                                         verbose = 2, lines_to_print=0)
list_feature_row_char_2015, sorted_list_no_digit_2015, sorted_list_num_no_digit_2015 = features_isDigit(
                                                                         combined_tract_file_2013, 
                                                                         verbose = 2, lines_to_print=0)
list_feature_row_char_2016, sorted_list_no_digit_2016, sorted_list_num_no_digit_2016 = features_isDigit(
                                                                         combined_tract_file_2016, 
                                                                         verbose = 2, lines_to_print=0)
list_feature_row_char_2017, sorted_list_no_digit_2017, sorted_list_num_no_digit_2017 = features_isDigit(
                                                                         combined_tract_file_2013, 
                                                                         verbose = 2, lines_to_print=0)

maximum no digit member in one column: 660
maximum no digit member in one column: 640
maximum no digit member in one column: 595
maximum no digit member in one column: 579
maximum no digit member in one column: 561
maximum no digit member in one column: 579
maximum no digit member in one column: 1535
maximum no digit member in one column: 579

In [43]:
print("Cols number (containing '-')")
print(len(sorted_list_num_no_digit_2010))
print(len(sorted_list_num_no_digit_2011))
print(len(sorted_list_num_no_digit_2012))
print(len(sorted_list_num_no_digit_2013))
print(len(sorted_list_num_no_digit_2014))
print(len(sorted_list_num_no_digit_2015))
print(len(sorted_list_num_no_digit_2016))
print(len(sorted_list_num_no_digit_2017))

Cols number (containing '-')
297
297
318
318
318
318
321
318

In [44]:
sorted_list_no_digit_2016[-10:]

[('Percent; ANCESTRY - Total population - Russian', 4),
 ('Percent; ANCESTRY - Total population - Scotch-Irish', 4),
 ('Percent; ANCESTRY - Total population - Scottish', 4),
 ('Percent; ANCESTRY - Total population - Slovak', 4),
 ('Percent; ANCESTRY - Total population - Subsaharan African', 4),
 ('Percent; ANCESTRY - Total population - Swedish', 4),
 ('Percent; ANCESTRY - Total population - Swiss', 4),
 ('Percent; ANCESTRY - Total population - Ukrainian', 4),
 ('Percent; ANCESTRY - Total population - Welsh', 4),
 ('Percent; ANCESTRY - Total population - West Indian (excluding Hispanic origin groups)',
  4)]

In [45]:
print("2010:", sorted_list_num_no_digit_2010)
print("2011:", sorted_list_num_no_digit_2011)
print("2012:", sorted_list_num_no_digit_2012)
print("2013:", sorted_list_num_no_digit_2013)
print("2014:", sorted_list_num_no_digit_2014)
print("2015:", sorted_list_num_no_digit_2015)
print("2016:", sorted_list_num_no_digit_2016)
print("2017:", sorted_list_num_no_digit_2017)

2010: [660, 595, 595, 379, 379, 299, 247, 247, 247, 247, 247, 195, 193, 129, 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, 57, 48, 38, 25, 23, 15, 14, 13, 13, 12, 12, 12, 11, 11, 10, 10, 10, 9, 9, 9, 9, 8, 8, 8, 7, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
2011: [640, 594, 594, 322, 322, 254, 225, 225, 225, 225, 225, 186, 174, 114, 63, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 41, 38, 22, 19, 12, 11, 11, 11, 10, 10, 10, 10, 10, 10, 9, 9, 8, 8, 8, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
2012: [595, 562, 562, 293, 293, 220, 208, 208, 208, 208, 208, 177, 115, 91, 53, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 41, 27, 17, 17, 14, 10, 8, 8, 8, 8, 8, 8, 8, 7, 7, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
2013: [579, 514, 514, 286, 286, 188, 188, 188, 188, 188, 174, 164, 96, 93, 52, 35, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 24, 15, 12, 12, 9, 8, 8, 8, 7, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]
2014: [561, 499, 499, 276, 276, 174, 174, 174, 174, 174, 171, 169, 89, 74, 52, 31, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 22, 16, 16, 9, 8, 8, 8, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]
2015: [579, 514, 514, 286, 286, 188, 188, 188, 188, 188, 174, 164, 96, 93, 52, 35, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 24, 15, 12, 12, 9, 8, 8, 8, 7, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]
2016: [1535, 665, 586, 502, 502, 319, 228, 228, 163, 159, 159, 159, 159, 159, 89, 58, 39, 38, 35, 22, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 20, 19, 14, 10, 10, 8, 7, 7, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]
2017: [579, 514, 514, 286, 286, 188, 188, 188, 188, 188, 174, 164, 96, 93, 52, 35, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 24, 15, 12, 12, 9, 8, 8, 8, 7, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [46]:
no_digit_features_list_2010 = sorted_list_no_digit_2010[40:52]
no_digit_features_list_2010_2 = [features for features in sorted_list_no_digit_2010 if features[1]==6]
list_specific_rows_2010 = show_specific_rows(list_feature_row_char_2010, no_digit_features_list_2010_2)

['Estimate; INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS) - Median household income (dollars)', 409, 698, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Unrelated individuals 15 years and over', 400, 409, 1247, 1316, 1317, 1318]
['Estimate; FERTILITY - Per 1,000 women 15 to 50 years old - Per 1,000 women 35 to 50 years old', 404, 409, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - Nursery school, preschool', 105, 409, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - Kindergarten', 105, 409, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - Elementary school (grades 1-8)', 105, 409, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - High school (grades 9-12)', 105, 409, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - College or graduate school', 105, 409, 1247, 1316, 1317, 1318]

In [47]:
drop_tracts_2010 = [105, 400, 409, 698, 1247, 1316, 1317, 1318]
print(len(drop_tracts_2010))

8

In [48]:
no_digit_features_list_2011 = sorted_list_no_digit_2011[40:52]
no_digit_features_list_2011_2 = [features for features in sorted_list_no_digit_2011 if features[1]==6]
list_specific_rows_2011 = show_specific_rows(list_feature_row_char_2011, no_digit_features_list_2011_2)

['Estimate; INCOME AND BENEFITS (IN 2011 INFLATION-ADJUSTED DOLLARS) - Median earnings for workers (dollars)', 396, 409, 1247, 1316, 1317, 1318]
['Estimate; INCOME AND BENEFITS (IN 2011 INFLATION-ADJUSTED DOLLARS) - Median earnings for female full-time, year-round workers (dollars)', 352, 409, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All families - With related children under 18 years', 409, 1194, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Under 18 years', 409, 1194, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Under 18 years - Related children under 18 years', 409, 1194, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - Nursery school, preschool', 105, 409, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - Kindergarten', 105, 409, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - Elementary school (grades 1-8)', 105, 409, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - High school (grades 9-12)', 105, 409, 1247, 1316, 1317, 1318]
['Percent; SCHOOL ENROLLMENT - College or graduate school', 105, 409, 1247, 1316, 1317, 1318]

In [49]:
drop_tracts_2011 = [105, 352, 396, 409, 1194, 1247, 1316, 1317, 1318]

In [50]:
no_digit_features_list_2012 = sorted_list_no_digit_2012[40:52]
no_digit_features_list_2012_2 = [features for features in sorted_list_no_digit_2012 if features[1]==6]
list_specific_rows_2012 = show_specific_rows(list_feature_row_char_2012, no_digit_features_list_2012_2)

['Percent; EMPLOYMENT STATUS - All parents in family in labor force', 409, 1194, 1247, 1316, 1317, 1318]
['Estimate; COMMUTING TO WORK - Mean travel time to work (minutes)', 408, 409, 1247, 1316, 1317, 1318]
['Estimate; INCOME AND BENEFITS (IN 2012 INFLATION-ADJUSTED DOLLARS) - Median nonfamily income (dollars)', 409, 653, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All families - With related children under 18 years', 409, 1194, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Under 18 years', 409, 1194, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Under 18 years - Related children under 18 years', 409, 1194, 1247, 1316, 1317, 1318]

In [51]:
drop_tracts_2012 = [1194, 409, 1247, 1316, 1317, 1318]

In [52]:
no_digit_features_list_2013 = sorted_list_no_digit_2013[40:52]
no_digit_features_list_2013_2 = [features for features in sorted_list_no_digit_2013 if features[1]==6]
list_specific_rows_2013 = show_specific_rows(list_feature_row_char_2013, no_digit_features_list_2013_2)

['Percent; SEX AND AGE - 65 years and over - Male', 400, 409, 1247, 1316, 1317, 1318]
['Percent; SEX AND AGE - 65 years and over - Female', 400, 409, 1247, 1316, 1317, 1318]
['Percent; EMPLOYMENT STATUS - Own children under 6 years - All parents in family in labor force', 409, 478, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over', 400, 409, 1247, 1316, 1317, 1318]
['Percent; DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION - 65 years and over - With a disability', 400, 409, 1247, 1316, 1317, 1318]

In [53]:
drop_tracts_2013 = [400, 478, 409, 1247, 1316, 1317, 1318]

In [54]:
no_digit_features_list_2014 = sorted_list_no_digit_2014[40:52]
no_digit_features_list_2014_2 = [features for features in sorted_list_no_digit_2014 if features[1]==5]
list_specific_rows_2014 = show_specific_rows(list_feature_row_char_2014, no_digit_features_list_2014_2)

['Percent; SEX AND AGE - 65 years and over - Male', 409, 1247, 1316, 1317, 1318]
['Percent; SEX AND AGE - 65 years and over - Female', 409, 1247, 1316, 1317, 1318]
['Percent; EMPLOYMENT STATUS - Own children under 6 years - All parents in family in labor force', 409, 1247, 1316, 1317, 1318]
['Percent; COMMUTING TO WORK - Workers 16 years and over - Car, truck, or van -- drove alone', 409, 1247, 1316, 1317, 1318]
['Percent; COMMUTING TO WORK - Workers 16 years and over - Car, truck, or van -- carpooled', 409, 1247, 1316, 1317, 1318]
['Percent; COMMUTING TO WORK - Workers 16 years and over - Public transportation (excluding taxicab)', 409, 1247, 1316, 1317, 1318]
['Percent; COMMUTING TO WORK - Workers 16 years and over - Walked', 409, 1247, 1316, 1317, 1318]
['Percent; COMMUTING TO WORK - Workers 16 years and over - Other means', 409, 1247, 1316, 1317, 1318]
['Percent; COMMUTING TO WORK - Workers 16 years and over - Worked at home', 409, 1247, 1316, 1317, 1318]
['Estimate; COMMUTING TO WORK - Mean travel time to work (minutes)', 409, 1247, 1316, 1317, 1318]
['Percent; OCCUPATION - Civilian employed population 16 years and over - Management, business, science, and arts occupations', 409, 1247, 1316, 1317, 1318]
['Percent; OCCUPATION - Civilian employed population 16 years and over - Service occupations', 409, 1247, 1316, 1317, 1318]
['Percent; OCCUPATION - Civilian employed population 16 years and over - Sales and office occupations', 409, 1247, 1316, 1317, 1318]
['Percent; OCCUPATION - Civilian employed population 16 years and over - Natural resources, construction, and maintenance occupations', 409, 1247, 1316, 1317, 1318]
['Percent; OCCUPATION - Civilian employed population 16 years and over - Production, transportation, and material moving occupations', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Agriculture, forestry, fishing and hunting, and mining', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Construction', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Manufacturing', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Wholesale trade', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Retail trade', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Transportation and warehousing, and utilities', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Information', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Finance and insurance, and real estate and rental and leasing', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Professional, scientific, and management, and administrative and waste management services', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Educational services, and health care and social assistance', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Arts, entertainment, and recreation, and accommodation and food services', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Other services, except public administration', 409, 1247, 1316, 1317, 1318]
['Percent; INDUSTRY - Civilian employed population 16 years and over - Public administration', 409, 1247, 1316, 1317, 1318]
['Percent; CLASS OF WORKER - Civilian employed population 16 years and over - Private wage and salary workers', 409, 1247, 1316, 1317, 1318]
['Percent; CLASS OF WORKER - Civilian employed population 16 years and over - Government workers', 409, 1247, 1316, 1317, 1318]
['Percent; CLASS OF WORKER - Civilian employed population 16 years and over - Self-employed in own not incorporated business workers', 409, 1247, 1316, 1317, 1318]
['Percent; CLASS OF WORKER - Civilian employed population 16 years and over - Unpaid family workers', 409, 1247, 1316, 1317, 1318]
['Estimate; INCOME AND BENEFITS (IN 2014 INFLATION-ADJUSTED DOLLARS) - Total households - Median household income (dollars)', 409, 695, 1316, 1317, 1318]
['Estimate; INCOME AND BENEFITS (IN 2014 INFLATION-ADJUSTED DOLLARS) - Nonfamily households - Median nonfamily income (dollars)', 409, 1247, 1316, 1317, 1318]
['Estimate; INCOME AND BENEFITS (IN 2014 INFLATION-ADJUSTED DOLLARS) - Nonfamily households - Mean nonfamily income (dollars)', 409, 1247, 1316, 1317, 1318]
['Estimate; INCOME AND BENEFITS (IN 2014 INFLATION-ADJUSTED DOLLARS) - Median earnings for workers (dollars)', 409, 1247, 1316, 1317, 1318]
['Estimate; INCOME AND BENEFITS (IN 2014 INFLATION-ADJUSTED DOLLARS) - Median earnings for female full-time, year-round workers (dollars)', 409, 1247, 1316, 1317, 1318]
['Percent; HEALTH INSURANCE COVERAGE - Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - With health insurance coverage', 409, 1247, 1316, 1317, 1318]
['Percent; HEALTH INSURANCE COVERAGE - Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - With health insurance coverage - With private health insurance', 409, 1247, 1316, 1317, 1318]
['Percent; HEALTH INSURANCE COVERAGE - Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - With health insurance coverage - With public coverage', 409, 1247, 1316, 1317, 1318]
['Percent; HEALTH INSURANCE COVERAGE - Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - No health insurance coverage', 409, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Married couple families', 409, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Under 18 years - Related children under 18 years - Related children under 5 years', 409, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over', 409, 1247, 1316, 1317, 1318]
['Percent; DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION - 65 years and over - With a disability', 409, 1247, 1316, 1317, 1318]

In [55]:
drop_tracts_2014 = [409, 1247, 1316, 1317, 1318]

In [56]:
no_digit_features_list_2015 = sorted_list_no_digit_2015[40:52]
no_digit_features_list_2015_2 = [features for features in sorted_list_no_digit_2015 if features[1]==6]
list_specific_rows_2015 = show_specific_rows(list_feature_row_char_2015, no_digit_features_list_2015_2)

['Percent; SEX AND AGE - 65 years and over - Male', 400, 409, 1247, 1316, 1317, 1318]
['Percent; SEX AND AGE - 65 years and over - Female', 400, 409, 1247, 1316, 1317, 1318]
['Percent; EMPLOYMENT STATUS - Own children under 6 years - All parents in family in labor force', 409, 478, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over', 400, 409, 1247, 1316, 1317, 1318]
['Percent; DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION - 65 years and over - With a disability', 400, 409, 1247, 1316, 1317, 1318]

In [57]:
drop_tracts_2015 = [62, 400, 409, 1247, 1316, 1317, 1318]

In [58]:
no_digit_features_list_2016 = sorted_list_no_digit_2016[40:52]
no_digit_features_list_2016_2 = [features for features in sorted_list_no_digit_2016 if features[1]==5]
list_specific_rows_2016 = show_specific_rows(list_feature_row_char_2016, no_digit_features_list_2016_2)

['Percent; SEX AND AGE - 65 years and over - Male', 409, 1247, 1316, 1317, 1318]
['Percent; SEX AND AGE - 65 years and over - Female', 409, 1247, 1316, 1317, 1318]
['Percent; EMPLOYMENT STATUS - Own children of the householder under 6 years - All parents in family in labor force', 126, 409, 1316, 1317, 1318]
['Estimate; COMMUTING TO WORK - Mean travel time to work (minutes)', 409, 1247, 1316, 1317, 1318]
['Estimate; INCOME AND BENEFITS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Nonfamily households - Mean nonfamily income (dollars)', 409, 1247, 1316, 1317, 1318]
['Estimate; INCOME AND BENEFITS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Median earnings for workers (dollars)', 409, 1247, 1316, 1317, 1318]
['Percent; HEALTH INSURANCE COVERAGE - Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - With health insurance coverage', 112, 409, 1316, 1317, 1318]
['Percent; HEALTH INSURANCE COVERAGE - Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - With health insurance coverage - With private health insurance', 112, 409, 1316, 1317, 1318]
['Percent; HEALTH INSURANCE COVERAGE - Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - With health insurance coverage - With public coverage', 112, 409, 1316, 1317, 1318]
['Percent; HEALTH INSURANCE COVERAGE - Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - No health insurance coverage', 112, 409, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder 5 to 17 years', 140, 409, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 65 years and over', 409, 1247, 1316, 1317, 1318]
['Percent; DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION - 65 years and over - With a disability', 409, 1247, 1316, 1317, 1318]

In [59]:
drop_tracts_2016 = [409, 1247, 1316, 1317, 1318]

In [60]:
no_digit_features_list_2017 = sorted_list_no_digit_2017[40:52]
no_digit_features_list_2017_2 = [features for features in sorted_list_no_digit_2017 if features[1]==6]
list_specific_rows_2017 = show_specific_rows(list_feature_row_char_2017, no_digit_features_list_2017_2)

['Percent; SEX AND AGE - 65 years and over - Male', 400, 409, 1247, 1316, 1317, 1318]
['Percent; SEX AND AGE - 65 years and over - Female', 400, 409, 1247, 1316, 1317, 1318]
['Percent; EMPLOYMENT STATUS - Own children under 6 years - All parents in family in labor force', 409, 478, 1247, 1316, 1317, 1318]
['Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over', 400, 409, 1247, 1316, 1317, 1318]
['Percent; DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION - 65 years and over - With a disability', 400, 409, 1247, 1316, 1317, 1318]

In [61]:
drop_tracts_2017 = [400, 409, 1247, 1316, 1317, 1318]

In [62]:
data_selection(combined_tract_file_2010, row_list=drop_tracts_2010)
list_feature_row_char_2010, sorted_list_no_digit_2010, sorted_list_num_no_digit_2010 = features_isDigit(
                                                                         combined_tract_file_2010, 
                                                                         verbose = 2, lines_to_print=0)
data_selection(combined_tract_file_2010, feature_list=sorted_list_no_digit_2010)
red = features_isDigit(combined_tract_file_2010, verbose = 2, lines_to_print=10)

maximum no digit member in one column: 652

In [63]:
data_selection(combined_tract_file_2011, row_list=drop_tracts_2011)
list_feature_row_char_2011, sorted_list_no_digit_2011, sorted_list_num_no_digit_2011 = features_isDigit(
                                                                         combined_tract_file_2011, 
                                                                         verbose = 2, lines_to_print=0)
data_selection(combined_tract_file_2011, feature_list=sorted_list_no_digit_2011)
red = features_isDigit(combined_tract_file_2011, verbose = 2, lines_to_print=10)

maximum no digit member in one column: 633

In [64]:
data_selection(combined_tract_file_2012, row_list=drop_tracts_2012)
list_feature_row_char_2012, sorted_list_no_digit_2012, sorted_list_num_no_digit_2012 = features_isDigit(
                                                                         combined_tract_file_2012, 
                                                                         verbose = 2, lines_to_print=0)
data_selection(combined_tract_file_2012, feature_list=sorted_list_no_digit_2012)
red = features_isDigit(combined_tract_file_2012, verbose = 2, lines_to_print=10)

maximum no digit member in one column: 589

In [65]:
data_selection(combined_tract_file_2013, row_list=drop_tracts_2013)
list_feature_row_char_2013, sorted_list_no_digit_2013, sorted_list_num_no_digit_2013 = features_isDigit(
                                                                         combined_tract_file_2013, 
                                                                         verbose = 2, lines_to_print=0)
data_selection(combined_tract_file_2013, feature_list=sorted_list_no_digit_2013)
red = features_isDigit(combined_tract_file_2013, verbose = 2, lines_to_print=10)

maximum no digit member in one column: 572

In [66]:
data_selection(combined_tract_file_2014, row_list=drop_tracts_2014)
list_feature_row_char_2014, sorted_list_no_digit_2014, sorted_list_num_no_digit_2014 = features_isDigit(
                                                                         combined_tract_file_2014, 
                                                                         verbose = 2, lines_to_print=0)
data_selection(combined_tract_file_2014, feature_list=sorted_list_no_digit_2014)
red = features_isDigit(combined_tract_file_2014, verbose = 2, lines_to_print=10)

maximum no digit member in one column: 556

In [67]:
data_selection(combined_tract_file_2015, row_list=drop_tracts_2015)
list_feature_row_char_2015, sorted_list_no_digit_2015, sorted_list_num_no_digit_2015 = features_isDigit(
                                                                         combined_tract_file_2015, 
                                                                         verbose = 2, lines_to_print=0)
data_selection(combined_tract_file_2015, feature_list=sorted_list_no_digit_2015)
red = features_isDigit(combined_tract_file_2015, verbose = 2, lines_to_print=10)

maximum no digit member in one column: 1528

In [68]:
data_selection(combined_tract_file_2016, row_list=drop_tracts_2016)
list_feature_row_char_2016, sorted_list_no_digit_2016, sorted_list_num_no_digit_2016 = features_isDigit(
                                                                         combined_tract_file_2016, 
                                                                         verbose = 2, lines_to_print=0)
data_selection(combined_tract_file_2016, feature_list=sorted_list_no_digit_2016)
red = features_isDigit(combined_tract_file_2016, verbose = 2, lines_to_print=10)

maximum no digit member in one column: 1530

In [69]:
data_selection(combined_tract_file_2017, row_list=drop_tracts_2017)
list_feature_row_char_2017, sorted_list_no_digit_2017, sorted_list_num_no_digit_2017 = features_isDigit(
                                                                         combined_tract_file_2017, 
                                                                         verbose = 2, lines_to_print=0)
data_selection(combined_tract_file_2017, feature_list=sorted_list_no_digit_2017)
red = features_isDigit(combined_tract_file_2017, verbose = 2, lines_to_print=10)

maximum no digit member in one column: 1529

In [70]:
# Some stats
for combined_tract_files in list_combined_tract_file:
    print("rows number:",len(combined_tract_files), "columns number:", len(combined_tract_files.columns))

rows number: 1527 columns number: 578
rows number: 1526 columns number: 584
rows number: 1529 columns number: 650
rows number: 1528 columns number: 652
rows number: 1530 columns number: 657
rows number: 1528 columns number: 653
rows number: 1530 columns number: 654
rows number: 1529 columns number: 665

In [80]:
combined_tract_file_2010.to_csv("./Features/features_2010.csv")
combined_tract_file_2011.to_csv("./Features/features_2011.csv")
combined_tract_file_2012.to_csv("./Features/features_2012.csv")
combined_tract_file_2013.to_csv("./Features/features_2013.csv")
combined_tract_file_2014.to_csv("./Features/features_2014.csv")
combined_tract_file_2015.to_csv("./Features/features_2015.csv")
combined_tract_file_2016.to_csv("./Features/features_2016.csv")
combined_tract_file_2017.to_csv("./Features/features_2017.csv")

In [72]:
useless_tracts = [409, 1316, 1317, 1318, 1247, 126, 112, 140, 1194, 400, 62, 92, 105]

# Feature intersection

In [73]:
for i in range(len(list_combined_tract_file) - 1):
    print(len(np.intersect1d(list_combined_tract_file[i].columns, list_combined_tract_file[i+1].columns)))

515
515
192
585
566
583
556

In [75]:
# Select shared features
shared_features = list_combined_tract_file[0].columns
for i in range(len(list_combined_tract_file) - 1):
    shared_features = np.intersect1d(shared_features, list_combined_tract_file[i+1].columns)

In [78]:
# Generate shared features tables
list_shared_combined_tract_file = []
for i in range(len(list_combined_tract_file)):
    shared_combined_file = list_combined_tract_file[i][shared_features]
    list_shared_combined_tract_file.append(shared_combined_file)

In [79]:
# Write to csv
for i in range(len(list_shared_combined_tract_file)):
    year = 2010 + i
    list_shared_combined_tract_file[i].to_csv("./Features/features_"+ str(year) + "_shared.csv")